.form {
  position: absolute;
  margin: auto;
  padding: 10px 10px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 300px;
  /* border: 1px solid black; */
  border: none;
  
  /* background-color: #424242; */
  border-radius: 10px;
  color: lightgray;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

hr {
  border: 0;
  margin: 0;
  width: 100%;
  height: 1px;
  background: gray;
}

.subject {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.entry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.entry-durations {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.entry-durations input {
  width: 75px;
}

input, textarea {
  /* color: black; */
  background-color: #EFEFEF;
  border: none;
  border-radius: 5px;
  padding: 5px;
  color: gray;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100px;
}
.submit-button {
  background-color: #FFE3E1;
  color: gray;
}